@import '../../index.scss';

@media (max-width: 800px) {
  .section__container {
    flex-direction: column;
  }

  .section__content {
    margin-left: auto;
  }
}

.section__container {
  display: flex;
  justify-content: center;
}

.section__content {
  margin-right: auto;
}

.section__loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__loadtext {
  margin-right: 10px;
}

.section__error {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
