@import '../../index.scss';

@media (max-width: 800px) {
  .header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 801px) {
  .header {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.header {
  min-width: 420px;
}

.header__logo {
  display: block;
  margin: auto;
}

.header__logo_blink {
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
